html {
	box-sizing: border-box;
	background-color: #2b465a;
    color: white;
	font-family: 'Optima', sans-serif;
	font-size: 20px;
	font-weight: 200;
}

h2 {
    color: white;
    font-size: 40px;
    margin: 40px 50px;
}

.container {
    max-width: 40%;/*500px*/
    margin: 5px auto;
    padding: 2px;
}


.currentPlayers {
	margin: 0;
	padding: 0;
	position: relative;
}


.currentPlayers li {
    max-width: 40%;/**400px*/
	list-style: none;
	border-radius: 250px;
    border: 2px solid;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
	margin: 5px auto;
	display: flex;
	justify-content: space-between;
	text-transform: capitalize;
}

@media screen and (max-width: 400px) {
    .container {
        max-width: 60%;
     }
    .currentPlayers li {
       max-width: 80%;
    }
}

.currentPlayers, li, span {
    margin: 0;
    padding: 10px;
}

input[type=number] {
    font-size: 20px;
    width: 60px;
    padding: 5px;
}

input[type=text] {
    font-size: 20px;
    width: 80px;
    padding: 5px;
}


.currentPlayers li:nth-child(n) {
	border-color: yellow;
    background: rgba(255, 255, 0, 0.308);
}
.currentPlayers li:nth-child(n):hover {
    background: rgba(255, 255, 0, 0.411);
}

.currentPlayers li:nth-child(2n) {
	border-color: red;
    background: rgba(255, 0, 0, 0.308);
}
.currentPlayers li:nth-child(2n):hover {
    background: rgba(255, 0, 0, 0.411);
}

.currentPlayers li:nth-child(3n) {
	border-color: blue;
    background: rgba(0, 0, 255, 0.308);
}
.currentPlayers li:nth-child(3n):hover {
    background: rgba(0, 0, 225, 0.411);
}

.currentPlayers li:nth-child(4n) {
	border-color: green;
    background: rgba(0, 128, 0, 0.308);
}
.currentPlayers li:nth-child(4n):hover {
    background: rgba(0, 128, 0, 0.411);
}

.currentPlayers li:nth-child(5n) {
	border-color: rgb(171, 32, 226);
    background: rgba(171, 32, 226,0.308);
}
.currentPlayers li:nth-child(5n):hover {
    background: rgba(171, 32, 226, 0.411);
}

button.enter {
    padding: 5px;
    width: 70px;
    height: 40px;
    background: transparent;
    border: 2px solid red;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    transition: 0.5s;
}

button.enter:hover {
    background: rgba(255, 0, 0, 0.308);
}

button.addButton {
    padding: 5px;
    width: 40px;
    margin: 5px;
    background: transparent;
    border: transparent;
    border: 1px solid #2b465a;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
    font-size: 15px;
    font-weight: 500;
}

button.addButton:hover {
    background-color: #2b465a;
}

.info {
    display: grid;
    grid-template-columns: 150px 100px;
    position: absolute;
    top: 80px;
    right: 20px;
}

.leaderBoard {
    position: absolute;
    top: 200px;
    right: 40px;
}


